.project-container {
  display: grid;
  font-size: 0.66rem;
  width: 100vw;
  background-color: rgba(53, 101, 150, 0.5);
  margin: 0;
  filter: drop-shadow(0px 0px 15px rgba(25, 25, 25, 0.6));
}

.project-container > * {
  padding: 1rem;
}

.project-name {
  margin: 0;
  width: 33%;
  font-size: 1.33rem;
}

.project-description {
  width: 66%;
  font-size: 1rem;
  display: flex;
  justify-content: flex-end;
}

.tools-container > .tool {
  margin: 1rem;
}
