.project-container {
  margin: 1rem 0 5rem;
  background-color: rgba(15, 15, 15, 0.87);
  padding-bottom: 1rem;
  width: 100vw;
  box-shadow: 0px 3px 1px 1px rgba(15, 15, 15, 0.9);
}

.scroll-btn {
  cursor: pointer;
  border: none;
  background: none;
}

.scroll-top-btn {
  margin-top: 33vh;
}

.scroll-bottom-btn {
  margin-bottom: 33vh;
}

.scroll-overlay {
  display: flex;
  visibility: hidden;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: space-between;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
}

.project-wrapper {
  display: grid;
  font-size: 0.66rem;
  color: white;
  max-width: 1024px;
  margin: 0 auto;
}

.project-images {
  margin: 1rem auto;
}

.project-image {
  border-radius: 6px;
  margin: 1rem;
  cursor: pointer;
  object-position: center;
}

.project-images:hover::before {
  content: "Click to enlarge";
  border-bottom: 1px solid var(--accent);
  position: absolute;
  margin-top: -1rem;
  text-align: center;
  color: white;
  left: 50%;
  transform: translateX(-50%);
  font-style: italic;
  z-index: 5;
}

.git-links {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 0 auto 2rem;
  width: 33%;
}

.git-links > button {
  background: none;
  color: white;
  border-left: 2px solid var(--accent);
  border-right: 3px solid white;
  border-radius: 3px;
  margin: 3px auto;
  font-family: var(--pridi);
  cursor: pointer;
}

.git-links > button:disabled {
  cursor: unset;
  opacity: 0.5;
}

.project-wrapper {
  max-width: 38rem;
}

.project-wrapper > p {
  padding-left: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: left;
}
.project-wrapper > h4 {
  margin-left: 3rem;
  margin-right: auto;
  text-align: left;
}

.project-name {
  font-size: 1.33rem;
  filter: drop-shadow(0px 12px 1px 3px rgba(0, 0, 0, 1));
  font-family: var(--mate);
  font-style: italic;
}

.name-brace {
  color: var(--cordovan);
  font-size: 1.66rem;
  margin: 0.33rem;
}

.project-description {
  max-width: 50%;
  font-size: 0.8rem;
  font-family: var(--cat);
  padding-left: 3rem;
  margin-top: 0;
}

.project-story {
  font-family: var(--cat);
  max-width: 24rem;
  margin: auto;
  margin-top: 0;
  padding: 1rem;
  text-align: center;
}

.hr-md {
  width: 66%;
  border-radius: 50%;
}

.hr-sm {
  width: 33%;
  border-radius: 50%;
}

.project-filters-container {
  max-width: 350px;
  margin: 2rem auto 1rem;
}

.filter-btn,
.filter-btn-active {
  background: rgba(10, 10, 10, 0.5);
  color: white;
  border-radius: 0.33rem;
  cursor: pointer;
  padding: 0.11rem 0.33rem;
  margin: 3px;
}

.filter-btn-active {
  border: 1px solid var(--cordovan);
}

.filter-btn:hover {
  background-color: var(--variant);
}

.filter-btn-active:hover {
  background-color: var(--cordovan);
}

.tooltags-header, 
.tooltags-subheader {
  pointer-events: none;
  margin: 0.33rem auto;
}

.clear-filters-btn {
  background: rgba(250, 250, 250, 0.9);
  color: black;
  border-radius: 5px;
}

.sort-direction-control {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 13rem;
  font-size: 0.8rem;
  margin: 0 auto;
}

.sort-direction-control:hover > p {
  color: rgba(240, 240, 240, 0.8);
}
.arrow-up {
  transition: all 0.3s;
}

.arrow-down {
  transform: rotate(180deg);
  transition: all 0.3s;
}

.tools-label {
  padding-bottom: 0;
  text-decoration: overline underline;
  margin-bottom: -.5em;
  margin-top: 3em;
}

.tools-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 66%;
  margin: 0 auto;
}

.lang-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px
  border: 1px solid white;
}

.project-lang-badges {
  display: flex;
  justify-content: center;
}
.project-lang-badges > img {
  margin: 1em auto
}

.tool {
  display: flex;
  justify-content: center;
  margin: 0.33rem 1rem;
  font-family: var(--pridi);
  border-radius: 3px;
  cursor: pointer;
  border-bottom: 1px solid var(--cordovan);
  transition: transform 0.3s;
}

.active-header {
  margin: 0.33rem 0.66rem;
  pointer-events: none;
}

.active-filters {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tool:hover {
  transform: translateY(-3px);
}

.tool-hover-iframe {
  position: absolute;
  margin-top: -15rem;
  width: 66%;
  height: 18rem;
}

.modal-exit-btn {
  position: absolute;
  left: 0;
  background-color: var(--cordovan);
  color: white;

  bottom: -1rem;
  width: 90vw;
  z-index: 3;
  cursor: pointer;
  transition: all 0.33s;
}

.modal-exit-btn:hover {
  color: var(--cordovan);
  background-color: white;
}

.modal-container {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background: white;
}
.modal-container > img {
  margin-left: auto;
  margin-right: auto;
}

.modal-container > iframe {
  width: 90vw;
  height: 66vh;
}

.tooltip {
  position: relative;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  visibility: hidden;
  padding: 5px;
  border-radius: 5px;
}

.tooltip-arrow {
  position: absolute;
  top: 100%;
  left: 50%;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.7) transparent transparent;
}

@media screen and (max-width: 767px) {
  .tools-container {
    max-width: 90%;
    justify-content: space-between;
  }
  .project-description {
    padding: 0;
  }
  .project-wrapper > h4 {
    margin-left: 1rem;
  }
  .project-wrapper[data-orientation="left"] > p,
  .project-wrapper[data-orientation="right"] > p {
    padding: 0 1rem;
  }
}
