.skill-switch-header {
  display: flex;
  height: 1rem;
  justify-content: space-between;
  align-items: center;
  margin: 3rem auto 1rem;
  font-family: var(--mate);
}

.skill-menu {
  display: flex;
  justify-content: space-evenly;
  margin: 6rem auto 0.33rem;

  width: 90%;
}

.skill-icon {
  cursor: pointer;
  transition: background-color 0.33s;
  transition: color 0.33s;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 6px 3px;
  margin: 6px;
  padding-bottom: 0;
  font-family: var(--pridi);
}

.skill-icon:hover {
  border-radius: 6px;
  background-color: white;
  color: var(--accent);
}

.skills-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 0 auto 3rem;
  padding: 0 2rem;
  min-height: 30rem;
  max-height: 66vh;
  width: 60%;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.34);
  overflow-y: scroll;
}

.skills-container > p:first-child {
  margin-top: 6rem;
}

.skills-container::-webkit-scrollbar {
  width: 4px;
  background-color: black;
}
.skills-container::-webkit-scrollbar-track {
  width: 4px;
  background-color: black;
}
.skills-container::-webkit-scrollbar-thumb {
  background-color: var(--cordovan);
}

.skill-name {
  filter: drop-shadow(0 3px 1px rgba(15, 15, 15, 0.9));
}

.skill-box {
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  font-size: 0.66rem;
  width: 5rem;
}
