.project-container {
  margin: 1rem 0 5rem;
  background-color: rgba(15, 15, 15, 0.8);
  padding-bottom: 1rem; 
  width: 100vw;
  box-shadow: 0px 3px 9px 1px rgba(15, 15, 15, .8);
}

.scroll-btn {
  cursor: pointer;
  border: none;
  background: none 
}

.scroll-top-btn {
  margin-top: 33vh;
}

.scroll-bottom-btn {
  margin-bottom: 33vh;
}

.scroll-overlay {
  display: flex;
  visibility: hidden;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: space-between;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
}

.project-wrapper {
  display: grid;
  font-size: 0.66rem;
  color: white;
  max-width: 1024px;
  margin: 0 auto;
 }

.project-images {
  margin: 1rem auto;
}

.project-image {
  border-radius: 6px;
  margin: 1rem;
  cursor: pointer;
  object-position: center;
}

.project-images:hover::before {
  content: "Click to enlarge";
  border-bottom: 1px solid var(--accent);
  position: absolute;
  margin-top: -1rem;
  text-align: center; 
  color: white; 
  left: 50%;
  transform: translateX(-50%);
  font-style: italic;
  z-index: 5;
}

.git-links {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 0 auto;
  width: 33%;
}

.git-links > button {
  background: none;
  color: white;
  border-left: 2px solid var(--accent);
  border-right: 1px solid white;
  border-radius: 3px;
  margin: 3px auto;
  font-family: var(--cat);
  cursor: pointer;
}

.git-links > button:disabled {
  cursor: unset;
  opacity: .5;
}

.project-wrapper[data-orientation="left"] > p {
  padding-left: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: left;
}

.project-wrapper[data-orientation="right"] > p {
  padding-right: 1rem;
  margin-right: 1rem;
  margin-left: auto;
  text-align: right;
}

.project-wrapper[data-orientation="left"] > h4 {
  margin-left: 1.33rem;
  margin-right: auto;
  text-align: left;
}

.project-wrapper[data-orientation="right"] > h4 {
  margin-left: auto;
  margin-right: 1.33rem;
  text-align: right;
}

.project-name {
  /* margin: 1rem; */
  font-size: 1.33rem;
  filter: drop-shadow(0px 12px 1px 3px rgba(0, 0, 0, 1));
}

.name-brace {
  color: var(--cordovan);
  font-size: 1.66rem;
  margin: 0.33rem;
}

.project-description {
  max-width: 50%;
  font-size: .8rem;
  font-family: var(--cat);
}

.project-story {
  font-family: var(--cat);
  max-width: 24rem;
  margin: auto;
  margin-top: 0;
  padding: 1rem;
  text-align: center;
}

.project-filters-container {
  max-width: 66%;
  margin: auto;
}

.filter-btn {
  background: none;
  color: white;
  border-radius: .33rem;
  cursor: pointer;
  padding: .11rem .33rem;
  margin: 3px;
}

.filter-btn:hover {
 background-color: var(--accent); 
}

.tools-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.tools-label {
  padding-bottom: 0;
  margin-bottom: 0;
}

.tool {
  display: flex;
  justify-content: center;
  margin: 0.33rem 1rem;
  font-family: var(--pridi);
  border-radius: 3px;
  cursor: pointer;
  border-bottom: 1px solid var(--cordovan);
  transition: transform 0.3s;
}

.tool:hover {
  transform: translateY(-3px);
}

.tool-hover-iframe {
  position: absolute;
  margin-top: -15rem;
  width: 66%;
  height: 18rem;
}

.modal-exit-btn {
  position: absolute;
  left: 0;
  background-color: var(--cordovan); 
  color: white;
 
  bottom: -1rem;
  width: 90vw;
  z-index: 3;
    cursor: pointer;
  transition: all .33s;
}
.modal-exit-btn:hover {
  color: var(--cordovan);
  background-color: white;
}

.modal-container {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background: white;
}

.modal-container > iframe {
  width: 90vw;
  height: 66vh;
}

.tooltip {
  position: relative;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  visibility: hidden;
  padding: 5px;
  border-radius: 5px;
}

.tooltip-arrow {
  position: absolute;
  top: 100%;
  left: 50%;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.7) transparent transparent;
}
