.project-container {
  display: grid;
  font-size: 0.66rem;
  width: 100vw;
  color: white;
  margin: 3rem 0 5rem;
  background-color: rgba(15, 15, 15, 0.7);
  padding-bottom: 1rem;
}

.project-images {
  width: 100vw;
  min-height: 150px;
}

.project-container[data-orientation="left"] > p {
  padding-left: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: left;
}
.project-container[data-orientation="left"] > section {
  text-align: left;
}
.project-container[data-orientation="right"] > section {
  text-align: right;
}
.project-container[data-orientation="right"] > p {
  padding-right: 1rem;
  margin-right: 1rem;
  margin-left: auto;
  text-align: right;
}
.project-container[data-orientation="left"] > h4 {
  margin-left: 1.33rem;
  margin-right: auto;
  text-align: left;
}
.project-container[data-orientation="right"] > h4 {
  margin-left: auto;
  margin-right: 1.33rem;
  text-align: right;
}
.project-name {
  /* margin: 1rem; */
  width: 33vw;
  font-size: 1.33rem;
  filter: drop-shadow(0px 12px 1px 3px rgba(0, 0, 0, 1));
}
.name-brace {
  color: var(--cordovan);
  font-size: 1.66rem;
  margin: 0.33rem;
}
.project-description {
  width: 90%;
  font-size: 1rem;
  font-family: var(--cat);
}
.project-story {
  font-family: var(--cat);
  margin: 1rem;
  margin-top: 0;
  padding: 2rem;
  padding-top: 0;
}

.tools-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.tools-label {
  padding-bottom: 0;
  margin-bottom: 0;
}
.tool {
  display: flex;
  margin: 0.33rem 1rem;
  font-family: var(--pridi);
  /* border: 1px solid var(--cordovan); */
  padding: 0 0.33rem;
  border-radius: 3px;
  cursor: pointer;
  border-bottom: 1px solid var(--cordovan);
  transition: transform 0.3s;
}
.tool:hover {
  transform: translateY(-3px);
}

.tool-hover-iframe {
  position: absolute;
  margin-top: -15rem;
  width: 66%;
  height: 12rem;
}

/* 
//
*/
