/**/
/**/
/**/

:root {
  --accent: rgb(53, 101, 150);
  --variant: rgba(65, 157, 120, 0.6);
  --cordovan: rgba(144, 45, 65, 1);
  --cord-pale: rgba(144, 45, 65, 0.6);
  --cat: "Catamaran", sans-serif;
  --mate: "Mate", serif;
  --pridi: "Pridi", serif;
  --drop-text: drop-shadow(0px 21px 21px black);
  --pattern-blue: url("/pattern_blue.jpg");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  line-height: 24px;
  font-size: 24px;
  color: rgba(255, 255, 255, 1);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  overflow-y: scroll;
}

/**/

#root {
  text-align: center;
  font-family: var(--mate);
  font-weight: 700;
}

.App {
  overflow-x: hidden;
}

.App::before {
  content: "";
  background-position: center;
  background-image: var(--pattern-blue);
  background-size: cover;
  object-fit: cover;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.4;
  filter: saturate(0.4);
  height: 100vh;
  z-index: -1;
}

body {
  margin: 0;
}

body::-webkit-scrollbar {
  width: 7px;
  background-color: black;
}
body::-webkit-scrollbar-track {
  background-color: black;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--cordovan);
  border-radius: 4px;
}

/**/

#grid-container-main {
  width: 36rem;
  grid-auto-rows: 12rem;
  display: grid;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr;

  transition: all 0.66s ease-in;
  backdrop-filter: blur(3px);
  border-radius: 50%;
  box-shadow:
    inset 0 -5rem 12rem 0.06rem rgba(35, 35, 35, 0.43),
    inset 0 -15px 1rem 0.06rem rgba(70, 70, 65, 0.23),
    0 3rem 2.33rem 0.99rem rgba(0, 0, 0, 0.44);
  mix-blend-mode: color-dodge;
  margin-top: 3rem;
}

.category-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  overflow-x: hidden;
}

.bracket-frame {
  color: var(--accent);
  font-size: 1rem;
  font-family: var(--qs);
  transform: translateY(-3px);
}

.nameplate {
  cursor: default;
  display: flex;
  justify-content: center;
  grid-area: 2 / 2 / 3 / 3;
  flex-flow: column nowrap;
  height: 10rem;
}

.name-parens {
  color: var(--accent);
  letter-spacing: 0.17rem;
}

.josh {
  padding: 0 0.17rem;
}

.name-cell > h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}
.name-cell > h2 {
  font-size: 2.25rem;
}
.name-cell > h1,
.name-cell > h2 {
  filter: var(--drop-text);
}

.name-cell > span {
  font-size: 0.66rem;
  font-family: var(--cat);
  letter-spacing: 2px;
}

.profession {
  filter: var(--drop-text);
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
}

.category-header {
  font-size: 1.66rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 2rem;
}

.category-title {
  font-family: var(--cat);
  margin: 0 0.5rem 0 0.5rem;
  pointer-events: none;
  font-size: 1.33rem;
}

.title-with-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-icon {
  font-size: 0.77rem;
}

.back-btn {
  cursor: pointer;
  font-size: 1rem;
}

.back-btn:hover * {
  scale: 1.03;
}

.back-btn::after {
  position: absolute;
  content: "ESC";
  border: 1px solid gray;
  padding: 0 4px;
  font-size: 0.5rem;
  line-height: 1.5;
  margin-top: -1rem;
  margin-left: 0.33rem;
  background-color: white;
  color: black;
  box-shadow: 0 6px 9px 1px rgba(0, 0, 0, 0.34);
}

.accolades-box {
  display: flex;
  flex-flow: row wrap;
  margin: 3rem auto 0;
  overflow-y: hidden;
}
.magnify-controls {
  margin-top: 3rem;
}
.mag-strength {
  margin: 0.33rem;
  font-size: 0.8rem;
}
.mag-value {
  margin: 0.33rem;
}
.magnify-instruction {
  margin-bottom: -3rem;
  font-size: 0.66rem;
}
.badges-box,
.certs-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 1rem auto;
}

.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  margin-top: 6rem;
}

.social-icon {
  transition: all 0.3s;
  margin: 1rem;
  padding: 6px;
}

.social-icon:hover {
  cursor: pointer;
  color: var(--accent);
  background-color: rgba(255, 255, 255, 0.868);
  border-radius: 50%;
}

.devto-header {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.33s;
}

.devto-link {
  color: rgba(255, 255, 255, 0.868);
  cursor: pointer;
  margin: 0 0.33rem;
  font-size: 1.66rem;
}

.devto-header:hover::before {
  content: "{";
  color: var(--cordovan);
  font-size: 1.5rem;
}

.devto-header:hover::after {
  content: "}";
  color: var(--cordovan);
  font-size: 1.5rem;
}

.contact-container {
  display: flex;
  flex-flow: column nowrap;
  width: 66%;
  margin: 0 auto;
}

.category-back-btn,
.category-next-btn {
  background: none;
  color: white;
  border: none;

  font-size: 2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-back-btn:hover::before {
  content: "";
}
.category-back-btn:hover,
.category-next-btn:hover {
  color: var(--variant);
}

.level-bar {
  border-radius: 3px;
  background-color: var(--accent);
  opacity: 0.9;
  color: rgb(0, 0, 0);
  width: 100%;
}

.about-box {
  font-family: var(--pridi);
  line-height: 1.15;
  font-size: 0.88rem;
  width: 66vw;
  margin: 3rem auto;
}

.tools-list {
  list-style-type: none;
  padding: 0;
}

.tools-list > li {
  margin: 1rem auto;
}

.tools-list > li > a {
  font-size: 2rem;
  color: var(--accent);
  text-decoration: none;
}

.tools-list > li > a:hover {
  color: var(--cordovan);
}

textarea::placeholder {
  font-size: 0.66rem;
}

img {
  width: 10rem;
}

.menu-cell {
  display: flex;
}

.menu-title {
  filter: drop-shadow(0px 3px 1px black);
  transition: all 0.33s;
  opacity: 0.6;
  text-transform: uppercase;
  font-family: var(--cat);
  letter-spacing: 2px;
  margin: 1rem;
}
.cat-char-underlined {
  text-decoration: underline var(--accent);
}
.menu-cell:hover > .menu-title {
  filter: drop-shadow(0px 6px 1px black) saturate(1.5);
  transform: translateY(-3px);
  opacity: 1;
}

.menu-cell:nth-child(2) {
  justify-content: flex-end;
  align-items: flex-end;
}

.menu-cell:nth-child(4) {
  justify-content: flex-start;
  align-items: flex-end;
}

.menu-cell:nth-child(7) {
  justify-content: flex-end;
  align-items: flex-start;
}

.menu-cell:nth-child(9) {
  justify-content: flex-start;
  align-items: flex-start;
}

.menu-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  transition: all 0.1s;
}

.click-notification {
  position: absolute;
  transform: translateY(-1.5rem);
}

.menu-cell:hover {
  cursor: pointer;
}

.cell-title {
  display: flex;
  pointer-events: none;
}

.placeholder {
  pointer-events: none;
}

.resume {
  margin-top: 3rem;
}

.resume > * {
  height: 54rem;
}

.mobile-resume {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 5rem;
}

.mobile-resume > a {
  padding: 5px 8px;
  cursor: pointer;
  transition: all .3s;
  font-family: var(--qs);
  font-size: .8rem;
  text-decoration: none;
}

.mobile-resume > a:first-child {
  background: var(--accent);
  color: white;
  border-radius: 5px 5px 0 0;
}

.mobile-resume > a:first-child:hover {
  background: white;
  color: var(--accent);
}

.mobile-resume > a:nth-child(2) {
  background: var(--variant);
  color: white;
  border-radius: 0 0 5px 5px;
}

.mobile-resume > a:nth-child(2):hover {
  background: white;
  color: var(--variant);
}

.contact-msg-input {
  width: 66%;
  height: 99%;
  resize: none;
  border-radius: 6px;
  background-color: #f8f8f8ef;
  color: black;
  font-size: 1.33rem;
  padding: 1rem;
}

#name {
  border-radius: 3px;
  font-size: 1rem;
  text-align: center;
}
#name::placeholder {
  font-size: 0.66rem;
  opacity: 0.66;
  font-family: monospace;
}

.send-btn {
  margin-top: 0.66rem;
  cursor: pointer;
  font-size: 0.66rem;
  padding: 1rem;
}

.visitor-details {
  display: flex;
  flex-flow: column nowrap;
  margin: 3rem auto;
}
.visitor-details > label {
  font-size: 0.66rem;
}
.visitor-details > input {
  background: none;
  transition: all 0.18s;
  min-width: 9rem;
  max-width: 66%;
  margin: 0.33rem auto;
  color: white;
}
.visitor-details > input:focus {
  transform: scale(1.02);
  backdrop-filter: blur(1px);
}
.contact-message {
  min-height: 18rem;
}

.contact-message > textarea {
  min-height: 15rem;
  caret-color: var(--accent);
  background: none;
  color: white;
  font-family: var(--italy);
  transition: all 0.18s;
  letter-spacing: 3px;
}

textarea:focus {
  transform: scale(1.02);
  backdrop-filter: blur(1px);
}

.cert-div {
  position: relative;
  margin: 1rem;
}
.cert-div img {
  border-radius: 6px;
}

.cert-div:hover {
  cursor: crosshair;
}

@media screen and (max-width: 768px) {
  #grid-container-main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: auto;
    box-shadow: none;
    mix-blend-mode: normal;
    backdrop-filter: none;
  }

  #grid-container-main > .menu-cell {
    text-align: center;
  }
  .category-container {
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin: 2rem auto 9rem;
    width: 100vw;
  }

  .back-btn::after {
    display: none;
  }

  .nameplate {
    margin-bottom: 3rem;
  }
  .ua-bracket {
    color: var(--accent);
    font-size: 80%;
  }
  .name-cell::after {
    width: 66vw;
  }
  .menu-title {
    filter: drop-shadow(0px 6px 1px black);
    transform: translateY(-3px);
    opacity: 1;
  }
  .about-box {
    width: 90vw;
  }
  .social-container {
    flex-flow: column nowrap;
    width: 66%;
  }
  .contact-container {
    width: 100%;
    margin: 0 auto;
  }
  .category-header {
    flex-flow: column nowrap;
  }
  .category-title {
    font-size: 1.5rem;
    text-decoration: none;
  }
  .accolades-box {
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }

  .resume {
    width: 100%;
  }

  .cert-div {
    margin: 1rem 0;
  }

  .skill-switch-header {
    width: 90%;
  }

  .project-story {
    margin: 1rem 0.33rem;
  }
  .tooltip {
    display: none;
  }
  .tools-container {
  }
}

.footnote {
  margin: 6rem auto 2rem;
  bottom: 0;
  font-size: 0.5rem;
  color: rgba(255, 255, 255, 0.77);
  width: 33%;
  font-family: var(--pridi);
}

.footnote > p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  line-height: 1.5;
  pointer-events: none;
}

.footnote > p:nth-child(2) {
  font-size: 0.66rem;
  filter: drop-shadow(0px 5px 1px black);
}

.footnote > p:nth-child(4) {
  margin-top: 1rem;
}
