@import "./Grid.css";
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&family=JetBrains+Mono:ital,wght@1,100&family=Oxygen+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Merriweather:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Cinzel:wght@500;700&family=Montserrat:wght@300&family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");

:root {
  --accent: rgb(53, 101, 150);
  --mmd: "Major Mono Display", monospace;
  --cutive: "Cutive Mono", monospace;
  --jb: "JetBrains Mono", monospace;
  --oxygen: "Oxygen Mono", monospace;
  --anton: "Anton", sans-serif;
  --merri: "Merriweather", serif;
  --qs: "Quicksand", sans-serif;
  --monty: "Montserrat", sans-serif;
  --cave: "Caveat", cursive;
  --poiret: "Poiret One", cursive;
  --cinzel: "Cinzel", serif;
  --italy: "Italiana", serif;
  --drop-text: drop-shadow(0px 21px 21px black);
  line-height: 24px;
  font-size: 22px;

  color: rgba(255, 255, 255, 1);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;

  --smoke: url("./assets/smoke.jpg");
  --pattern-blue: url("./assets/pattern_blue.jpg");
}

#root {
  text-align: center;
  font-family: var(--cinzel);
  font-weight: 700;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.App {
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 95vh;
  padding-top: 3rem;
}

.App::before {
  content: "";
  background-position: center;
  background-image: var(--pattern-blue);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.4;
  filter: saturate(0.4);
  z-index: -1;
}

body {
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar {
  width: 6px;
  background-color: black;
}
body::-webkit-scrollbar-track {
  width: 6px;
  background-color: black;
}
body::-webkit-scrollbar-thumb {
  width: 6px;
  background-color: white;
}
