.grid-container {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 12rem;
}

.grid-container-category {
  grid-template-columns: 3;
  grid-template-rows: 3;
}

#grid-container-main {
  width: 66%;
  grid-auto-rows: 15rem;
}

#grid-container-main > .menu-cell {
  display: flex;
}

#grid-container-main > .menu-cell > .cell-title {
  filter: drop-shadow(0px 3px 1px black);
  transition: all 0.33s;
}

#grid-container-main > .menu-cell:hover > .cell-title {
  filter: drop-shadow(0px 6px 1px black);
  transform: translateY(-3px);
}

#grid-container-main > .menu-cell:nth-child(2) {
  justify-content: flex-end;
  align-items: flex-end;
}

#grid-container-main > .menu-cell:nth-child(4) {
  justify-content: flex-start;
  align-items: flex-end;
}

#grid-container-main > .menu-cell:nth-child(7) {
  justify-content: flex-end;
  align-items: flex-start;
}

#grid-container-main > .menu-cell:nth-child(9) {
  justify-content: flex-start;
  align-items: flex-start;
}

.menu-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid white; */
  border-radius: 3px;
  transition: all 0.1s;
}

.menu-cell > img {
  width: 12rem;
  object-fit: contain;
  transition: all 0.33s;
  margin-top: 5rem;
}

.menu-cell:hover {
  cursor: pointer;
}

.nameplate {
  display: flex;
  justify-content: center;
  grid-area: 2 / 2 / 3 / 3;
  flex-flow: column nowrap;
  pointer-events: none;
}

.back-btn {
  cursor: pointer;
}

.message {
}

.projects {
}

.resume {
  display: flex;
  height: 60rem;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  grid-area: 2 / 2 / 3 / 3;
}

.resume > iframe {
  width: 100%;
  height: 100vh;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.placeholder {
  pointer-events: none;
}

.contact-msg-input {
  width: 66%;
  height: 99%;
  resize: none;
  border-radius: 6px;
  background-color: #f8f8f8ef;
  color: black;
  font-size: 2rem;
  padding: 3rem;
}

@media screen and (max-width: 768px) {
  .grid-container {
    display: flex;
    flex-flow: column nowrap;
    padding-bottom: 3rem;
  }

  #grid-container-main > .menu-cell {
    display: block;
    text-align: center;
  }
  .social-grid {
    row-gap: 3rem;
  }

  .cell-title {
    justify-content: center;
    margin: 1rem auto;
  }
  .nameplate {
    margin-bottom: 3rem;
  }
  .resume,
  .resume > iframe {
    width: 100%;
  }
}

.cell-title {
  display: flex;
  pointer-events: none;
}

.cell-title > h1 {
  font-size: 2.5rem;
}
.cell-title > h2 {
  font-size: 1.5rem;
}

.cell-title > span {
  display: flex;
  justify-content: center;
  align-items: center;
}
