@import "./Cell.css";

.grid-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12rem;
  border: 1px solid white;
  border-radius: 3px;
  transition: all 0.1s;
}
.grid-cell > img {
  width: 6rem;
  object-fit: contain;
  transition: all 0.25s;
}
.grid-cell:hover {
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.808);
  cursor: pointer;
  transform: translateY(-3px);
}
.grid-cell:hover > .badge-img {
  width: 9rem;
}

.nameplate {
  grid-area: 2 / 2 / 3 / 3;
  flex-flow: column nowrap;
  pointer-events: none;
}

.name-cell {
  grid-area: 2 / 2 / 2 / 2;
}
.accolades {
}

.message {
}

.projects {
}

.resume {
  display: flex;
  grid-area: 2 / 2 / 3 / 3;
}

.resume > iframe {
  width: 100%;
  height: 100vh;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.placeholder {
  pointer-events: none;
}
